.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(15, 17, 24, 1) 0%, rgba(15, 17, 24, 0.7) 10%, rgba(15, 17, 24, 0) 100%);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(15, 17, 24, 1) 0%, rgba(15, 17, 24, 0.7) 10%, rgba(15, 17, 24, 0) 100%);
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 50s linear infinite;
  will-change: transform;
}

.carousel-item {
  width: 120px;
  flex: 0 0 auto;
  margin: 0px 10px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}








.carousel-container-recomendations {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.carousel-track-recomendations {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll-recomendations 50s linear infinite;
  will-change: transform;
}

.carousel-item-recomendations {
  width: 300px;
  flex: 0 0 auto;
  margin: 0px 20px;
}

.carousel-container-recomendations::before,
.carousel-container-recomendations::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.carousel-container-recomendations::before {
  left: 0;
  background: linear-gradient(to right, rgba(15, 17, 24, 1) 0%, rgba(15, 17, 24, 0.7) 10%, rgba(15, 17, 24, 0) 100%);
}

.carousel-container-recomendations::after {
  right: 0;
  background: linear-gradient(to left, rgba(15, 17, 24, 1) 0%, rgba(15, 17, 24, 0.7) 10%, rgba(15, 17, 24, 0) 100%);
}


@keyframes scroll-recomendations {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.control-btn {
  background: #1f2430;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.control-btn:hover {
  background: white;
  color: #1f2430;
}