@import "tailwindcss";

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("/fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 330px) {
  .h1-extra-responsive {
    font-size: 30px;
  }
}