---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main class="space-y-28 sm:space-y-40">
		<section>
			<h1 class="text-3xl sm:text-5xl md:text-6xl lg:text-[78px]">
				MÁS QUE CÓDIGO: ESTRATEGIA, ESCALABILIDAD, LIDERAZGO
			</h1>
		</section>
		
		<section class="flex flex-col lg:flex-row justify-between w-full gap-y-8 gap-x-5">
			<div class="w-full flex flex-col justify-center items-start">
				<div class="flex flex-col items-end space-x-4 md:space-x-5 lg:space-x-7">
					<div class="flex flex-row items-end">
						<h2 class="text-5xl md:text-6xl lg:text-7xl">JHON</h2>
						<p class="text-[8px] md:text-[10px] lg:text-xs mb-2 mx-2">DESARROLLADOR Y LÍDER FRONTEND</p>
					</div>
					<h2 class="text-5xl md:text-6xl lg:text-7xl">RIVERO</h2>
				</div>
			</div>

			<div class="w-full space-y-5">
				<p>SOBRE MÍ</p>
				<p class="text-[10px] sm:text-xs">SOY DESARROLLADOR Y LÍDER FRONTEND CON EXPERIENCIA EN LA CREACIÓN DE APLICACIONES WEB MODERNAS QUE INTEGREN FUNCIONALIDAD, RENDIMIENTO Y DISEÑO. DOMINO FRAMEWORKS COMO SVELTE, VUE/QUASAR, REACT, ASTRO, ADEMÁS DE TENER CONOCIMIENTO EN AUTOMATIZACIÓN DE PRUEBAS DE QA CON HERRAMIENTAS COMO PUPPETEER Y K6 PARA PRUEBAS DE RENDIMIENTO DE APIS. TAMBIÉN TENGO EXPERIENCIA LIDERANDO EQUIPOS Y DEFINIENDO ARQUITECTURAS FRONTEND ESCALABLES.</p>
				<p class="text-[10px] sm:text-xs">COMO LÍDER, PROMUEVO LA ADOPCIÓN DE BUENAS PRÁCTICAS, LA MENTORÍA TÉCNICA Y LA MEJORA CONSTANTE EN LOS PROCESOS DE DESARROLLO. ESTOY COMPROMETIDO CON EL APRENDIZAJE CONTINUO Y LA INCORPORACIÓN DE TECNOLOGÍAS INNOVADORAS.</p>
			</div>
		</section>
	</main>

</Layout>