---

---

<header class="flex justify-end w-full pt-8 px-10">
    <ul class="flex flex-row justify-end w-full gap-8 mx-auto max-w-screen-2xl text-xs">
        <li><a href="#habilities">HABILIDADES</a></li>
        <li><a href="#experience">EXPERIENCIA</a></li>
        <li><a href="#recomendations">RECOMENDACIONES</a></li>
        <li><a href="#contact">CONTACTO</a></li>
    </ul>
</header>